/* color references

*/

body {
    margin-top: 50px;

    background-color: #F1F2F9;

}

a {
    color: purple;
}

a:hover {
    text-decoration: none;
    color: #C2B49A;
}


.navbar-brand {
    margin: 0;
    padding: 2px 0;
}


#primary {
    padding: 40px 0;
}

.feature-image {
    display: table;
    width: 100%;
    height: 200px;
}

.feature-image-default-alt {
    background: url("../img/cinder-news.jpg");

}

.feature-image h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}


/*hero*/

#hero {
    background: url("../img/hero-bg.jpg") 25% 50% no-repeat fixed;
    background-color: #F1F2F9;
    text-align: right;

}

.hero-text {
    height: 200px;

}

#home-newinfo {
    padding: 25px 0 25px 0;
    background-color: rgba(33, 33, 33, 0.9);
    color: white;
    text-align: center;

}


/*announcement*/

#announcement {
    background-color: #C2B49A;
    text-align: center;

}


/*about*/

#about-cinder {

    background: url("../img/cindergarden-icy.jpg") 75% -50px no-repeat;
    background-color: #E7E2DF;
    min-height: 550px;

}

.about-text {
    min-height: 300px;
}


/*footer*/

footer {
    background: #404041;
    color: white;

}

footer ul {
    padding: 15px 0 0;
}

footer p {
    margin: 2px 0 0 -15px;
    left: -100px;

}

footer a:link, footer a:visited {
    color: white;
}

footer a:hover {
    color: #C2B49A;
}



/*news*/

.post-image {
    height: 200px;
    overflow: hidden;
    background-color: #F1F2F9;
}

.post, .widget {
    position: relative;
    border: solid 1px #dddddd;
    background: white;
    margin: 0 0 40px;
    border-radius: 4px;
}

.post header,
.post .post-excerpt {
    padding: 20px;
}

.post header h1,
.post header h3 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom: 1px solid #dddddd;
}

.post header h1 {
    font-size: 24px;
}

.post-details {
    font-size: 12px;

}

.post-details i.fa {
    padding-left: 10px;
}

.post-details i.fa:first-child {
    padding: 0;
}

/*widget*/

.widget {
    padding: 20px;
}

.widget h4 {
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: solid 1px #dddddd;
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget ul li {
    margin:  0 0 5px;
}

.widget ul li:hover {
    position: relative;
    left: 1px;
}


/*comments*/

.post-comments-badge {
    height: 70px;
    width:  70px;
    position: absolute;
    top: 25px;
    right: 20px;
    border: none;

}

/*forms*/

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 12px;
}

/*media queries*/

@media (max-width: 992px) {

    .hero-bar {
        background-color: rgba(241, 242, 249, 0.85);
    }

    .about-bar {
        background-color: rgba(232, 227, 224, 0.7);
    }

}



